.btn-light {
  color: $gray-800 !important;
  background-color: $gray-500 !important;
}

.btn-none {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  &.btn-link {
    border: none !important;
    &.text-sm {
      font-size: 0.875rem !important;
    }
  }
}

.btn-secondary,
.btn-warning {
  color: white !important;
}

.btn-outline-light {
  background: white !important;
  border-color: $gray-400 !important;
  color: $primary-700 !important;
}

.btn-sm {
  padding: 0.5rem 1.2rem;
}

.btn-wide {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.btn-xs {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 2px;
}

.btn-dark,
.btn-info,
.btn-success,
.btn-warning {
  color: white !important;
}

.btn-outline-info:hover,
.btn-outline-warning:hover {
  color: white !important;
}

.btn-apartments {
  border: 2px solid $dark !important;
  color: $text-color !important;
  background: $white !important;

  &:hover {
    color: $white !important;
    background: $dark !important;
  }
}

.btn-angle-list {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  border: 1px solid $gray-200;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 1.25rem;
  outline: none !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 0.9rem;
  text-decoration: none !important;

  &:after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 6.25rem;
    left: -4.38rem;
    top: 0px;
    background: $secondary-100;
    transform: rotate(60deg);
    transition: all 0.4s ease-out;
  }

  svg {
    display: inline-block;
    margin-left: 1.38rem;
    margin-right: 2rem;
    position: relative;
    z-index: 2;
    transition: all 0.4s ease-out;
    color: $gray-900;
  }

  span {
    position: relative;
    z-index: 2;
    transition: all 0.4s ease;
    color: $gray-900;
  }

  &:hover {
    span {
      color: $black;
    }

    svg {
      color: #fff;
      margin-left: 25px;
      margin-right: 37px;
    }

    &:after {
      height: 120px;
      background: $primary;
    }
  }
}

.btn-modal-close {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  color: $gray-500;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: $error-800;
    font-size: 1.8rem;
    text-decoration: none;
  }
}

//   .btn-primary-light
@each $name, $colors in $brand-colors {
  .btn-#{$name}-light {
    background-color: map-get($colors, '50') !important;
    color: map-get($colors, '700') !important;

    &:hover {
      background-color: map-get($colors, '500') !important;
      color: $white !important;
    }
  }

  .bg-#{$name}-light {
    background-color: map-get($colors, '50') !important;
    color: map-get($colors, '600') !important;
  }

  .bg-#{$name}-dark {
    background-color: map-get($colors, '700') !important;
  }
}
