.image-cover,
.img-cover {
  object-fit: cover !important;
}

.image-gray {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0);
  }
}

.img-wrapper {
  font-size: 0;
}

.bg-image {
  background-position: 0 50%;
  background-size: cover;
}

.bg-primary-op {
  background-color: rgba($primary, 0.75) !important;
}

.bg-image-top {
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}
