.image-cover,
.img-cover {
  object-fit: cover !important;
  width: 100% !important;
}

.image-gray {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0);
  }
}

.img-fill {
  min-height: 18rem;
  overflow: hidden;
  position: relative;
  width: 100% !important;
  height: 100% !important;

  .project-listing & {
    min-height: 24rem;
  }
}

.img-project {
  @include media-breakpoint-up(md) {
    min-height: 700px;
  }
}

.img-property {
  max-height: 400px;
  @include media-breakpoint-up(md) {
    max-height: 500px;
  }
}

.bg-image {
  background-position: 0 50%;
  background-size: cover;
}

.bg-primary-op {
  background-color: rgba($primary, 0.75) !important;
}

.bg-image-top {
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.hero-container {
  @include media-breakpoint-down(md) {
    position: relative;
  }
}
.hero-image {
  width: 100%;
  min-height: 30rem;
  @include media-breakpoint-up(md) {
    min-height: 74rem;
  }
}

.hero-content {
  position: absolute;
  bottom: 2rem;
  @include media-breakpoint-up(md) {
    bottom: 45%;
  }
  color: $white;
  width: 100%;
  z-index: 1;
}
// Next Images

.img-wrapper {
  font-size: 0;
}

.unset-img {
  width: 100%;

  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  > div {
    position: unset !important;
  }
}
