$display-font-size: 5.63rem;
$h1-font-size: 4.25rem;
$h2-font-size: 3.18rem;
$h3-font-size: 2.37rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.31rem;
$h6-font-size: 1rem;

.font-primary {
  font-family: $font-primary !important;
}
.font-secondary {
  font-family: $font-secondary !important;
}

.text-display {
  font-size: $h4-font-size;
  font-weight: 700;
  color: $gray-800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  @include media-breakpoint-tiny() {
    font-size: $h4-font-size;
  }
  @include media-breakpoint-up(md) {
    font-size: $display-font-size * 0.6;
  }
  @include media-breakpoint-up(lg) {
    font-size: $display-font-size * 0.8;
  }
  line-height: 1.2;
}

.text-link {
  cursor: pointer;
}

.link-text,
.text-link {
  color: $gray-700 !important;
  cursor: pointer;
  &:hover,
  &:hover * {
    color: $primary-700;
  }
  &.link-danger,
  &.text-danger {
    &:hover,
    &:hover * {
      color: $error-700;
    }
  }
  &.link-muted,
  &.text-muted {
    &:hover,
    &:hover * {
      color: $primary-700 !important;
    }
  }
}

.text-xl {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-mobile-lg {
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

.text-mobile-md {
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

.text-mobile-sm {
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}
.text-mobile-xs {
  @include media-breakpoint-down(sm) {
    font-size: 0.75rem;
  }
}

.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-tiny {
  font-size: 0.6rem;
}

@each $name, $color in $grays {
  .text-gray-#{$name} {
    color: $color !important;
  }
}

.text-page-header {
  font-size: 2rem;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
  text-transform: uppercase;
  color: $white;
  font-weight: 600;
}

.text-page-subheader {
  font-size: 0.9rem;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  @include media-breakpoint-up(md) {
    letter-spacing: 0.3rem;
  }
  color: $white;
}

.text-color {
  color: $text-color;
}

.lead {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}

.text-muted-light {
  color: $gray-600;
}

.text-price {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: $font-primary;
  color: $primary;
}
// .text-leading {
//   font-size: 1.8rem;
//   line-height: 1.5;
//   color: rgba(#373333, 0.8);
// }

// .form-tab-title {
//   margin-bottom: 2rem;

//   span {
//     font-size: 1.6rem;
//     font-weight: bold;
//     padding-bottom: 0.5rem;
//     color: $gray-800;
//     border-bottom: 2px solid $gray-800;
//   }

//   a {
//     font-size: 1.1rem;
//     display: inline-block;
//     margin-left: 1rem;
//     margin-right: 1rem;
//     color: $gray-600;
//     text-decoration: none;
//     &:hover {
//       color: $primary;
//     }
//   }
// }
