.dotted-border {
  border: none !important;
  border-bottom: 1px dotted $gray-800 !important;
}

.list-dotted {
  li {
    border: none !important;
    border-top: 1px dotted $gray-500 !important;
    padding: 1.25rem 0;
    font-weight: 500;
    display: flex !important;
    flex-direction: column;
    font-family: $font-secondary;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__label {
    color: $gray-700;
    font-size: 0.8rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  &__value {
    color: $primary-600;
    float: right;
  }
}

.fw-medium {
  font-weight: 500 !important;
}
.icon-sm {
  height: 1.2rem;
  width: 1.2rem;
}

.icon-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-md2 svg {
  height: 2.5rem;
  width: 2.5rem;
}

.icon-lg svg {
  height: 4rem;
  width: 4rem;
}
.icon-xl svg {
  height: 8rem;
  width: 8rem;
}
.icon-xxl svg {
  height: 12rem;
  width: 12rem;
  @include media-breakpoint-up(lg) {
    height: 16rem;
    width: 16rem;
  }
}

.btn-none {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.testimonial-listing {
  padding: 4rem 3rem 2rem;
  margin-bottom: 6rem;
  &.altBg {
    background: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.05);
    transform: skewY(-8deg);

    .testimonial-listing__container {
      transform: skewY(8deg);
    }
  }

  &__image {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      right: -5px;
      bottom: 5px;
      box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
    }
  }
}

.google-map {
  height: 32rem;
  overflow: hidden;
  background: #f2f2f2;

  iframe {
    width: 100%;
    height: 100%;
  }
}

ul.circle-tick {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/circle-tick.svg);
    // padding-bottom: 1rem;
  }
}

ul.list-features {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/tick-square.svg);
    // padding-bottom: 1rem;

    &.green,
    &.standard {
      list-style-image: url(/assets/svg/tick-square-green.svg);
      color: $secondary-600;
    }
    &.gold,
    &.supreme {
      list-style-image: url(/assets/svg/tick-square-gold.svg);
      color: $warning-600;
    }
    &.invalid,
    &.not-available {
      list-style-image: url(/assets/svg/close-square.svg);
      color: $gray-600;
    }
  }
}

.list-location {
  list-style-type: none;
  margin: 0;
}

.list-location li {
  position: relative;
  margin: 2rem 1rem;
}
.list-location li::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%2366768E'/%3E%3Cpath d='M14.3246 14.3265C16.2069 12.4442 16.6913 9.87676 15.4065 8.59195C14.1217 7.30713 11.5542 7.7915 9.67189 9.67381C7.78958 11.5561 7.30522 14.1236 8.59003 15.4084C9.87484 16.6932 12.4423 16.2088 14.3246 14.3265Z' fill='%2366768E'/%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  left: 0;
  height: 24px;
  width: 24px;
  transform: translate(-150%, -50%);
}

.list-sharer {
  li {
    margin-right: 0.5rem;
  }
}

.nav-tab .nav-item.active span.active-indicator::before {
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-color: $primary-200;
    transform: translate(-50%, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1)
      scaleY(1);
  }
}

div.nav-link {
  background: $gray-300;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    margin-bottom: 0.5rem;
  }

  &.active {
    background: $primary-200;
  }

  color: $gray-700;
  &:hover {
    color: $primary-500;
  }

  &.active {
    color: $primary-700;
  }
  border-radius: 4px !important;
  padding: 1rem;
}

.nav-tabs {
  border-bottom: none;
  // border-top: 1px solid $gray-400;
  padding: 1rem 0 0;
  font-size: 0.8rem;
  .nav-link {
    text-transform: none;
    padding-right: 1rem !important;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $primary-500;
  background-color: transparent;
  border-color: $gray-400;
}

.team-tab-link {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  background: 0 0;

  &.nav-link.active {
    opacity: 1;
    background: $primary-50;

    .text-muted {
      color: $gray-700 !important;
    }
  }
}

.widget {
  .card {
    border-radius: 4px;
    &.primary {
      background: $primary-50;
      border: 1px solid $primary-200;
      .widget__color {
        color: $primary-600 !important;
      }
    }
    &.secondary {
      background: $secondary-50;
      border: 1px solid $secondary-200;
      .widget__color {
        color: $secondary-600 !important;
      }
    }
    &.warning {
      background: $warning-50;
      border: 1px solid $warning-200;
      .widget__color {
        color: $warning-600 !important;
      }
    }
    &.danger {
      background: $error-50;
      border: 1px solid $error-200;
      .widget__color {
        color: $error-600 !important;
      }
    }
  }
  &__icon-tint {
    opacity: 0.2;
    svg {
      width: 4rem !important;
      height: 4rem !important;
    }

    &.primary {
      color: $primary-600;
    }
    &.secondary {
      color: $secondary-600;
    }
    &.warning {
      color: $warning-600;
    }
    &.danger {
      color: $error-600;
    }
  }
}

.legend {
  &__color {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
  }

  &__title,
  &__price {
    font-size: 12px;
    font-family: $font-secondary;
    font-weight: 600;
  }
}

.badge.bg-light {
  background: $gray-500 !important;
  color: $gray-800;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.custom-plan {
  position: absolute;
  top: -45px;
  left: 45%;
}

// login and authentication

.auth-fluid {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

.auth-fluid .auth-fluid-form-box {
  max-width: 480px;
  border-radius: 0;
  z-index: 2;
  padding: 3rem 2rem;
  background-color: var(--ct-auth-bg);
  position: relative;
  width: 100%;
}

.auth-fluid .auth-fluid-right {
  padding: 6rem 3rem;
  flex: 1;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  // background: url(../public/assets/img/property/property1.jpeg) center;
  background-size: cover;
}

.schedule-visit {
  @include media-breakpoint-down(sm) {
    &__name {
      font-size: 1rem;
    }
    svg {
      width: 0.9rem;
      height: 0.9rem;
    }
    &__title {
      font-size: 0.75rem;
    }
    &__phone {
      font-size: 0.75rem;
    }
    &__email {
      font-size: 0.75rem;
    }
  }
}

.form-switch {
  .form-check-input {
    height: 1.75rem;
  }
  .form-check-label {
    margin-top: 0.2rem;
  }
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: 100% !important;
}

.z-5 {
  z-index: 5;
}
