.dotted-border,
.dotted-border-muted {
  border: none !important;
  border-bottom: 1px dotted $gray-800 !important;
}

.dotted-border-muted {
  border-bottom: 1px dotted $gray-500 !important;
}

.list-dotted {
  li {
    border: none !important;
    border-top: 1px dotted $gray-500 !important;
    padding: 1.25rem 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    font-family: $font-secondary;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__label {
    color: $gray-700;
    font-size: 0.8rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  &__value {
    color: $primary-600;
    float: right;
  }
}

.fw-medium {
  font-weight: 500 !important;
}

.icon-sm {
  &,
  & svg {
    height: 1.2rem;
    width: 1.2rem;
  }
}

.icon-md {
  &,
  & svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.icon-md2 svg {
  height: 2.5rem;
  width: 2.5rem;
}

.icon-lg svg {
  height: 4rem;
  width: 4rem;
}
.icon-xl svg {
  height: 8rem;
  width: 8rem;
}
.icon-xxl svg {
  height: 12rem;
  width: 12rem;
  @include media-breakpoint-up(lg) {
    height: 16rem;
    width: 16rem;
  }
}

.testimonial-listing {
  padding: 4rem 3rem 2rem;
  margin-bottom: 6rem;
  &.altBg {
    background: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.05);
    transform: skewY(-8deg);

    .testimonial-listing__container {
      transform: skewY(8deg);
    }
  }

  &__image {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      right: -5px;
      bottom: 5px;
      box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
    }
  }
}

.google-map {
  height: 32rem;
  overflow: hidden;
  background: #f2f2f2;

  iframe {
    width: 100%;
    height: 100%;
  }
}

ul.circle-tick {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/circle-tick.svg);
    // padding-bottom: 1rem;
  }
}

ul.list-features {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/tick-square.svg);
    // padding-bottom: 1rem;

    &.green,
    &.standard {
      list-style-image: url(/assets/svg/tick-square-green.svg);
      color: $secondary-600;
    }
    &.gold,
    &.supreme {
      list-style-image: url(/assets/svg/tick-square-gold.svg);
      color: $warning-600;
    }
    &.invalid,
    &.not-available {
      list-style-image: url(/assets/svg/close-square.svg);
      color: $gray-600;
    }
  }
}

.list-location {
  list-style-type: none;
  margin: 0;
}

.list-location li {
  position: relative;
  margin: 2rem 1rem;
}
.list-location li::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%2366768E'/%3E%3Cpath d='M14.3246 14.3265C16.2069 12.4442 16.6913 9.87676 15.4065 8.59195C14.1217 7.30713 11.5542 7.7915 9.67189 9.67381C7.78958 11.5561 7.30522 14.1236 8.59003 15.4084C9.87484 16.6932 12.4423 16.2088 14.3246 14.3265Z' fill='%2366768E'/%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  left: 0;
  height: 24px;
  width: 24px;
  transform: translate(-150%, -50%);
}

.list-sharer {
  li {
    margin-right: 0.5rem;
  }
}

.nav-tab .nav-item.active span.active-indicator::before {
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-color: $primary-200;
    transform: translate(-50%, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1)
      scaleY(1);
  }
}

div.nav-link {
  background: $gray-300;
  font-weight: bold;

  @include media-breakpoint-down(md) {
    margin-bottom: 0.5rem;
  }

  &.active {
    background: $primary-200;
  }

  color: $gray-700;
  &:hover {
    color: $primary-500;
  }

  &.active {
    color: $primary-700;
  }
  border-radius: 4px !important;
  padding: 1rem;
}

.nav-tabs {
  border-bottom: none;
  // border-top: 1px solid $gray-400;
  padding: 1rem 0 0;
  font-size: 0.8rem;
  .nav-link {
    text-transform: none;
    padding-right: 1rem !important;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $primary-500;
  background-color: transparent;
  border-color: $gray-400;
}

.team-tab-link {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  background: 0 0;

  &.nav-link.active {
    opacity: 1;
    background: $primary-50;

    .text-muted {
      color: $gray-700 !important;
    }
  }
}

.widget {
  .card {
    border-radius: 4px;
    &.primary {
      background: $primary-50;
      border: 1px solid $primary-200;
      .widget__color {
        color: $primary-600 !important;
      }
    }
    &.secondary {
      background: $secondary-50;
      border: 1px solid $secondary-200;
      .widget__color {
        color: $secondary-600 !important;
      }
    }
    &.warning {
      background: $warning-50;
      border: 1px solid $warning-200;
      .widget__color {
        color: $warning-600 !important;
      }
    }
    &.danger {
      background: $error-50;
      border: 1px solid $error-200;
      .widget__color {
        color: $error-600 !important;
      }
    }
  }
  &__icon-tint {
    opacity: 0.2;
    svg {
      width: 4rem !important;
      height: 4rem !important;
    }

    &.primary {
      color: $primary-600;
    }
    &.secondary {
      color: $secondary-600;
    }
    &.warning {
      color: $warning-600;
    }
    &.danger {
      color: $error-600;
    }
  }
}

.legend {
  &__color {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
  }

  &__title,
  &__price {
    font-size: 12px;
    font-family: $font-secondary;
    font-weight: 600;
  }
}

.badge.bg-light {
  background: $gray-500 !important;
  color: $gray-800;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.custom-plan {
  position: absolute;
  top: -45px;
  left: 45%;
}

// login and authentication

.auth-fluid {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
  align-items: stretch;
}

.auth-fluid .auth-fluid-form-box {
  max-width: 480px;
  border-radius: 0;
  z-index: 2;
  padding: 3rem 2rem;
  background-color: var(--ct-auth-bg);
  position: relative;
  width: 100%;
}

.auth-fluid .auth-fluid-right {
  padding: 6rem 3rem;
  flex: 1;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background: url(../public/assets/img/property/property1.jpeg) center;
  background-size: cover;
}

.schedule-visit {
  @include media-breakpoint-down(sm) {
    &__name {
      font-size: 1rem;
    }
    svg {
      width: 0.9rem;
      height: 0.9rem;
    }
    &__title {
      font-size: 0.75rem;
    }
    &__phone {
      font-size: 0.75rem;
    }
    &__email {
      font-size: 0.75rem;
    }
  }
}

.form-switch {
  .form-check-input {
    height: 1.75rem;
  }
  .form-check-label {
    margin-top: 0.2rem;
  }
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: 100% !important;
}

.z-5 {
  z-index: 5;
}

// https://www.benmarshall.me/styling-file-inputs/
.custom-file-upload {
  [type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type='file'] + label {
    border: 2px solid $gray-600;
    border-radius: 5px;
    color: $gray-600;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0.2rem;
    outline: none;
    padding: 0.5rem 2.5rem;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
      background-color: darken($gray-600, 15%);
      color: $white;
    }
  }
}

.react-datepicker__navigation-icon {
  margin-top: 20px;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  margin-left: -5px;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  display: none !important;
}

.tab-header {
  font-size: 0.9rem;
  font-family: $font-secondary;
  color: $gray-600;
  font-weight: 500 !important;
  padding: 0;
  padding-bottom: 0.4rem;
  margin-right: 3rem !important;
  letter-spacing: 0.8px;
  border-bottom: 2px solid transparent;
  &.active {
    color: $primary;
    border-bottom-color: $primary;
  }
  &:hover {
    color: $primary !important;
  }
}

.icon-md svg,
.img-md {
  height: 1.5rem !important;
  width: 1.5rem !important;
  object-fit: cover;
}

.icon-md2 svg,
.img-md2 {
  height: 2.5rem !important;
  width: 2.5rem !important;
  object-fit: cover;
}

.icon-lg svg,
.img-lg {
  height: 4rem !important;
  width: 4rem !important;
  object-fit: cover;
}
.icon-xl svg,
.img-xl {
  height: 8rem !important;
  width: 8rem !important;
  object-fit: cover;
}
.icon-xxl svg,
.img-xxl {
  height: 12rem !important;
  width: 12rem !important;
  object-fit: cover;
  @include media-breakpoint-up(lg) {
    height: 16rem !important;
    width: 16rem !important;
    object-fit: cover;
  }
}

.badge-dot,
.badge-icon {
  display: inline-flex;
  align-items: center;
  background-color: transparent !important;
  border: none;
  padding-left: 0.75rem;
  padding-right: 0;
  font-size: 0.75rem;
  position: relative;

  &.badge-sm,
  &.badge-md {
    padding-left: 1rem;
  }
  &.badge-sm:before,
  &.badge-md:before {
    height: 8px;
    width: 8px;
    margin-top: 0;
  }
  &.badge-lg,
  &.badge-xl {
    padding-left: 1.5rem;
  }
  &.badge-lg:before,
  &.badge-xl:before {
    height: 12px;
    width: 12px;
    margin-top: 0;
  }
}

.badge-dot {
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    height: 6px;
    width: 6px;
    margin-top: 0;
    border-radius: 50%;
    background: currentColor;
  }
}

.gallery-listing {
  img {
    max-height: 15rem;
    object-fit: cover;
  }
}

.dim {
  opacity: 0.5;
}

.formik-values {
  margin: 3rem 0;
  max-width: 65vw !important;
  overflow: scroll;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;

  &:after {
    font-size: 2rem !important;
    opacity: 0.8;
  }
}

.form-floating > textarea.form-control {
  height: auto;
}

.confirmation-text {
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: $gray-700;
  font-weight: normal;
  margin-bottom: 2rem !important;
}

td {
  &.td-block {
    font-weight: bold;
    color: $dark;
    span {
      display: block;
      font-size: 0.75rem;
      font-weight: normal;
      margin-top: -3px;
    }
  }
}

.card-container {
  padding: 1.5rem 2rem;

  h6 {
    font-size: 0.9rem;
  }
}

.badge-overdue {
  padding: 0.4rem 0.75rem;
  font-size: 0.65rem;
  border-radius: 3px;

  &__success {
    background: $secondary-200;
    color: $secondary-700;
  }

  &__danger {
    background: $error-100;
    color: $red;
  }
}

.legend__color.bg-warning {
  background: $warning-500 !important;
}

.contact-info .icon-circled {
  font-size: 1.2rem;
  color: white;
  background: $primary;
  height: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.price-input-format {
  background: transparent !important;
  color: $primary;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid $gray-200;
  padding: 0.4rem 1rem;
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  &:hover {
    border-color: $primary;
    cursor: text;
  }
}

.input-password-icon {
  position: absolute;
  top: 2.75rem;
  right: 1rem;
  color: $gray-600;

  &.show-password {
    color: $gray-700;
  }

  &:hover {
    color: $gray-700;
    cursor: pointer;
  }

  &.is-invalid {
    right: 2.75rem;
  }
}
