.dotted-border {
  border: none !important;
  border-bottom: 1px dotted $gray-500 !important;
}

.list-dotted {
  li {
    border: none !important;
    border-top: 1px dotted $gray-500 !important;
    padding: 1.25rem 0;
    font-weight: 500;
    display: flex !important;
    flex-direction: column;
    font-family: $font-secondary;
    @include media-breakpoint-up(md) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__label {
    color: $gray-700;
    font-size: 0.8rem;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  &__value {
    color: $primary-600;
    float: right;
  }
}

.fw-medium {
  font-weight: 500 !important;
}
.icon-sm {
  height: 1.2rem;
  width: 1.2rem;
}

.icon-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-md2 svg {
  height: 2.5rem;
  width: 2.5rem;
}

.icon-lg svg {
  height: 4rem;
  width: 4rem;
}
.icon-xl svg {
  height: 8rem;
  width: 8rem;
}
.icon-xxl svg {
  height: 12rem;
  width: 12rem;
  @include media-breakpoint-up(lg) {
    height: 16rem;
    width: 16rem;
  }
}

.btn-none {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.testimonial-listing {
  padding: 4rem 3rem 2rem;
  margin-bottom: 6rem;
  &.altBg {
    background: white;
    border-radius: 2rem;
    box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.05);
    transform: skewY(-8deg);

    .testimonial-listing__container {
      transform: skewY(8deg);
    }
  }

  &__image {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      right: -5px;
      bottom: 5px;
      box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
    }
  }
}

.google-map {
  height: 32rem;
  overflow: hidden;
  background: #f2f2f2;

  iframe {
    width: 100%;
    height: 100%;
  }
}

ul.circle-tick {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/circle-tick.svg);
    // padding-bottom: 1rem;
  }
}

ul.list-features {
  li {
    padding-top: 1rem;
    list-style-image: url(/assets/svg/tick-square.svg);
    // padding-bottom: 1rem;

    &.green,
    &.standard {
      list-style-image: url(/assets/svg/tick-square-green.svg);
      color: $secondary-600;
    }
    &.gold,
    &.supreme {
      list-style-image: url(/assets/svg/tick-square-gold.svg);
      color: $warning-600;
    }
    &.invalid,
    &.not-available {
      list-style-image: url(/assets/svg/close-square.svg);
      color: $gray-600;
    }
  }
}

.list-location {
  list-style-type: none;
  margin: 0;
}

.list-location li {
  position: relative;
  margin: 2rem 1rem;
}
.list-location li::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%2366768E'/%3E%3Cpath d='M14.3246 14.3265C16.2069 12.4442 16.6913 9.87676 15.4065 8.59195C14.1217 7.30713 11.5542 7.7915 9.67189 9.67381C7.78958 11.5561 7.30522 14.1236 8.59003 15.4084C9.87484 16.6932 12.4423 16.2088 14.3246 14.3265Z' fill='%2366768E'/%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  left: 0;
  height: 24px;
  width: 24px;
  transform: translate(-150%, -50%);
}

.list-sharer {
  li {
    margin-right: 0.5rem;
  }
}

.nav-tab .nav-item.active span.active-indicator::before {
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-color: $primary-200;
    transform: translate(-50%, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1)
      scaleY(1);
  }
}

div.nav-link {
  background: $gray-300;
  font-weight: bold;
  &.active {
    background: $primary-200;
  }

  color: $gray-700;
  &:hover {
    color: $primary-500;
  }

  &.active {
    color: $primary-700;
  }
  border-radius: 4px !important;
  padding: 1rem;
}

.team-tab-link {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  background: 0 0;

  &.nav-link.active {
    opacity: 1;
    background: $primary-50;

    .text-muted {
      color: $gray-700 !important;
    }
  }
}

.table {
  font-size: 0.85rem;
  margin-bottom: 0;
  > :not(:first-child) {
    border-top: 1px solid #f5f9fa;
  }
  thead tr {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #f5f9fa;

    th {
      padding: 1rem 1.25rem;
      vertical-align: middle;
    }
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #e5e5e5 !important;
  }

  td {
    vertical-align: middle;
  }

  td:first-child,
  th:first-child {
    padding-left: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding-left: 2rem;
    }
  }

  td:last-child,
  th:last-child {
    padding-right: 1.5rem;
    @include media-breakpoint-up(sm) {
      padding-right: 2rem;
    }
  }

  &.table-no-padding {
    td:first-child,
    th:first-child {
      padding-left: 0.5rem;
    }

    td:last-child,
    th:last-child {
      padding-right: 0.5rem;
    }
  }
}

// https://stackoverflow.com/questions/72093603/how-to-make-table-fit-in-mobile-view
.table-responsive {
  min-height: 0.01%;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;

    > .table {
      margin-bottom: 0;
    }

    > .table > thead > tr > th,
    > .table > tbody > tr > th,
    > .table > tfoot > tr > th,
    > .table > thead > tr > td,
    > .table > tbody > tr > td,
    > .table > tfoot > tr > td {
      white-space: nowrap;
    }
  }
}
