@import 'bootstrap';

.text-color-dark {
  color: rgba(55, 51, 51, 1);
}
.text-color-dark-1 {
  color: rgba(55, 51, 51, 0.9);
}

.text-color-dark-2 {
  color: rgba(55, 51, 51, 0.65);
}

.text-color {
  color: $gray-900;
}

.text-color-1 {
  color: rgba($gray-900, 0.9);
}
.text-color-2 {
  color: rgba($gray-900, 0.65);
}

.font-secondary {
  font-family: $font-secondary !important;
}
.nav-link {
  text-transform: uppercase;
  transition: all 0.25s ease-in;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border-radius: 4px;
    width: 20px;
    height: 2px;
    bottom: 3px;
    margin-left: 1rem;
    @include media-breakpoint-up(md) {
      width: 40px;
      height: 4px;
      bottom: -5px;
      margin-left: auto;
      margin-right: auto;
    }
    left: 0;
    right: 0;
    background-color: $primary;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &.active {
    font-weight: bold;

    &:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.text-title {
  font-size: 4rem;
  line-height: 1.2;
}

.text-leading {
  font-size: 1.8rem;
  line-height: 1.5;
  color: rgba(#373333, 0.8);
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: $primary;
  z-index: -1;
  transition: all 0.25s ease-in;
}

.hero-icon {
  width: 2.8rem;
  height: 2.8rem;
  background: $silver;
  border-radius: 50%;
  position: relative;

  svg {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bg-icon {
  height: 5.8rem;
  width: 5.8rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;

  svg {
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-sm {
  height: 1.2rem;
  width: 1.2rem;
}

.icon-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-md2 svg {
  height: 2.5rem;
  width: 2.5rem;
}

.icon-lg svg {
  height: 4rem;
  width: 4rem;
}
.icon-xl svg {
  height: 8rem;
  width: 8rem;
}
.icon-xxl svg {
  height: 12rem;
  width: 12rem;
  @include media-breakpoint-up(lg) {
    height: 16rem;
    width: 16rem;
  }
}

.btn-none {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.rounded-4 {
  border-radius: $border-radius-lg;
}

.rounded-5 {
  border-radius: $border-radius-xl;
}

.bg-blue {
  background-color: $bg-blue;
}

.bg-red {
  background: rgba(192, 67, 67, 0.1);
}

.bg-blue2 {
  background: rgba(68, 108, 178, 0.1);
}

.bg-green {
  background: rgba(38, 166, 91, 0.1);
}

.bg-purple {
  background: rgba(117, 4, 156, 0.1);
}

.bg-orange {
  background: rgba(184, 71, 7, 0.1);
}

.bg-blue3 {
  background: rgba(46, 138, 253, 0.1);
}

.benefits-section {
  h5 {
    line-height: 134.69%;
    text-align: center;
    letter-spacing: 0.01em;
  }
  p {
    color: rgba($gray-900, 0.65);
  }
}

.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.investor-section {
  h3 {
    font-size: 60px;

    span {
      color: #26a65b;
    }
  }

  p {
    color: #c1c1c1 !important;
    font-size: 24px;
  }
}
